html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
:focus {
	outline: 0;
}@charset "utf-8";
/* CSS Document */

.techs-tag{
	background-color:rgba(252,245,188,1);
}

.roles-tag{
	background-color: #E0EAF1;	
}

.academic-tag{
	background-color:rgba(207,251,174,1);
}

.roles-tag, .techs-tag, .academic-tag{
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0;
	text-decoration: none;
	font-size: 70%;	
	white-space: nowrap;
	cursor:pointer;
	line-height:2.5;
}

body {
	z-index:0;
	background: #E4E4E4; /* for non-css3 browsers */
}

.showoffImageDiv{
	position:relative;
	width:150px;
	height:285px;
	border-width:1px;
	border-style:solid;
	border-color:grey;
}

/*generic styles*/
p {
	text-align:justify;
	text-justify:inter-word;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#979797;
	z-index:3;
}

p2 {
	text-align:left;
	margin-left:50px;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#979797;
	z-index:3;
}
h1 {
	position: absolute;
	margin-left: 5px;
	top:10px;
	margin-bottom:25px;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#979797;
	z-index: 1;
}


h5 {
	position: absolute;
	margin: 24px 24px 0 24px;
	font-size:32px;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	color:#979797;
	z-index: 1;
	background-color:white;
	text-align:left;
}

h6 {
	position: absolute;
	margin: 56px 24px 0 24px;
	font-size:24px;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	color:#979797;
	z-index: 1;
	background-color:white;
	text-align:left;
}

h7{
	font-size:24px;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
}

th {
	text-align:left;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#979797;
	font-weight:bold;
}

tr {
	margin:10px;
}

td {
	text-align:left;
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	
}

td a{
	
	text-decoration:none;
}

.displayed {
	display:table-cell;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


/*page divs styles*/
#page {
	z-index:0;
	text-align: center;
	position:relative;
	width:100%;
	z-index:0;
	text-align: center;
	position:relative;
	/*min-height: 100%;
	margin-top:-6px;*/
}
#wrapperLeftCentered{
	position: absolute;
        left: 50%;
        height: 100%;
}

#wrapperCentered{
	position: relative;
        right: 50%;
        width: 970px;
        background-color: white;
        height: 100%;
	background-color:#FFFFFF;
	-moz-box-shadow:10px 0px 90px #666;
	-webkit-box-shadow: 10px 0px 90px #666;
}

.page_centered {
	position:relative;
	text-align: left;
	margin:0 auto;
	width: 970px;
	z-index:0;
	overflow:hidden;
}

html, body {
	height: 100%;}

/*
#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  

#footer {position: relative;
	margin-top: -150px; 
	height: 150px;
	clear:both;} 

*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/*tabs*/
.tabContainer1 {
	margin-bottom:14px;
	position: relative;
	width: 970px;
	z-index:1;
}
.tabContainer1 .h1Image {
	position: relative;
	top: 35px;
	z-index:0;
}
.tabContainer1 .h1LowerImage {
	position: relative;
	z-depth:0;
}

.tabContainer {
	display:inline-block;
	width:730px;
	margin-top:12px;
}
.tabContainer .h1UpperImage {
	/*position: relative;
	top: 30px;*/
}
.tabContainer .h1LowerImage {
	/*position: absolute;
	top:-58px;*/
	z-depth:0;
}
.tab_text {
	text-align:justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	/*font-weight:bold;*/
	margin-left: 15px;
	margin-top:10px;
	width: 700px;
	/*font-variant:small-caps;*/
	z-index:2;
	color:black;
}

.emphistory_text {
	text-align:justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	/*font-weight:bold;*/
	margin-left: 105px;
	margin-bottom:10px;
	width: 595px;
	/*font-variant:small-caps;*/
	z-index:2;
	color:black;
}

/* news */
.news {
	position: relative;
	width:970px;
}
.contentItem {
	position:relative;
	float:left;
	text-align:left;
	margin:5px;
}
li {
	margin-bottom:-16px;	
}

.bulletedList {
	position: relative;
	text-align:left;
	list-style-position:inside;
	list-style-type:circle;
	font-family:Arial, Helvetica, sans-serif;
	color:#979797;
	list-style-image: url(../img/icons/bullet.png);
	margin-top:-5px;
	margin-bottom:15px;
}

#wrapper {
	position:relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -130px;
}
#push{
  width: 100%;
  height: 130px;
}/*header divs styles*/
#header_centered {
	text-align: center;
	margin:0 auto;
	width: 970px;
	height: 200px;
	top:10px;
	z-index:0;
}
.headerSlider {
	position: relative;
	overflow:hidden;
	top: -130px;
	width: 970px;
	height: 200px;
	z-index:0;
}

.slides div{
	position:absolute;
	display:none;	
}
.header_centered_title {
	position:absolute;
	top:60px;
	width: 970px;
	z-index:1;
	left:0px;
}
.headerSlider .items {
	width:20000em;
	position:absolute;
}
#navigation {
	position:relative;
	z-index:30000;
	height:73px;
}

/* CSS Document */

/*** Topmenu ***/
#top .menu, #top .menu li span.info {
	height: 65px;
	background: #eee;
	background: -moz-linear-gradient(top, #f2f2f2, #d9d9d9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#d9d9d9));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f2, endColorstr=#d9d9d9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f2f2f2, endColorstr=#d9d9d9)";
	border-bottom: 2px solid #b3b3b3;
}

#top .menu {
	overflow: hidden;
}

#top .menu ul, #portfolio .container, #main .container, #footer .container {
	width: 970px;
	margin: 0 auto;
	overflow: hidden;
}
#top .menu li {
	display: block;
	float: left;
	padding-left: 40px;
}
#top .menu li a {
	display: block;
	height: 65px;
	padding: 0 10px;
	text-decoration: none;
	color: #666;
	text-shadow: 1px 1px 0 #fff;
}


#top .menu li a span.info {
	display: block;
	padding-left: 15px;
}
#top .menu li span.title {
	height: 65px;
	display: inline-block;
	font: normal 24px/75px Georgia;
	font: bold 18px/75px Arial;
}
#top .menu li span.description {
	display: inline-block;
	height: 65px;
	font: normal 12px/25px Arial;
}
#top .menu li a:hover {
	border-bottom: 2px solid #30b8d5;
}
#top .menu li a:hover span.title {
	color: #30b8d5;
}
#top .menu li a:hover span.description {
	
}

/*** Logo ***/
#top .menu li.logo {
	padding-left: 0;
}

#top .menu li.logo a {
	padding-left: 0;
	padding-right: 20px;
}

/*** Home ***/
#top .menu li.home a {
	background: url('/img/icons/home.png') 0 center no-repeat;
	padding-left: 38px;
}
#top .menu li.home a:hover {
	background-position: -38px center;
}
#top .menu li.home.active a {
	background: url('/img/icons/home.png') 0px center no-repeat;
}

/*** Homepage ***/
#top .menu li.document a {
	background: url('/img/icons/homepage.png') -70px center no-repeat;
	padding-left: 35px;
}
#top .menu li.document a:hover {
	background-position: -35px center;
}

/*** Search ***/
#top .menu li.search a {
	background: url('/img/icons/search.png') -98px center no-repeat;
	padding-left: 49px;
}
#top .menu li.search a:hover {
	background-position: -49px center;
}

/*** Develop ***/
#top .menu li.develop a {
	background: url('/img/icons/develop.png') -104px center no-repeat;
	padding-left: 52px;
}
#top .menu li.develop a:hover {
	background-position: -52px center;
}

/*** Portfolio ***/
#portfolio {
	background: url('/img/backgrounds/grid.gif');
	/*height: 230px;*/
	border-bottom: 1px solid #ccc;
	padding: 30px 0 0 0;
}
#portfolio .container, #portfolio .container li {
	height: 200px;
	width: 960px;
}

#portfolio li img, #portfolio span.info {
	float: left;
}
#portfolio span.info {
	width: 345px;
	padding: 0 0 0 15px;
}
#portfolio span.title {
	font: normal 36px/36px Georgia;
	height: 51px;
	padding-left: 66px;
	color: #30b8d5;
	background: url('/img/icons/chat.png') no-repeat;
	display: inline-block;
}
#portfolio span.description {
	font: italic normal 16px/22px Georgia;
	overflow: scroll;
	color: #555;
}
#main {
	background: #eaeaea;
	padding: 20px 0;
}
#main .container {
	padding: 20px 0 0 20px;
}

#div2 {
	width: 920px;
	height: 300px;
	float: left;
	background: #f5f5f5;
	transform: rotate(-5deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	z-index: 2;
	
	-moz-box-shadow: 0 0 10px #ddd;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	border: 1px solid #ddd;
}

#main .content {
	padding: 20px;
	background: #fff;
	width: 890px;
	margin: 0 auto;
	float: left;
	/*margin: 0px 0 0 -920px;*/
	z-index: 3;
	transform: rotate(0);
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	
	-moz-box-shadow: 0 0 10px #ddd;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	border: 1px solid #ddd;
}
#main h1 {
	margin-bottom: 5px;
}
#main h1 {
	color: #30b8d5;
	font: normal 36px/36px Georgia;
}
#main p {
	font: normal 16px/22px Georgia;
	color: #555;
}
#main p {
	/*margin-bottom: 15px;*/
}

img.alignleft {
	border: 5px solid #fff;
	margin: 0 15px 15px 0;
}

.alignleft {
	float: left;
}

#footer {
	position:relative;
	overflow: hidden;
	height:130px;
	clear:both;
	z-index:25;
	
	background: #eee;
	background: -moz-linear-gradient(top, #333333, #666666);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#666666));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#666666);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#666666)";
	
}
#footer .box {
	width: 310px;
	float: left;
}
#footer .box .content {
	padding: 15px;
}
#footer .content h4 {
	font: bold 11px/11px Arial;
	color: #fff;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 2px solid #666;
}
#footer .content p {
	font: normal 11px/15px Tahoma;
	color: #ccc;
	margin-bottom: 15px;
}
#footer .content li {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#footer .content li a {
	color: #ccc;
	text-decoration: none;
	font: normal 14px/32px Georgia;
	height: 30px;
	display: block;
	padding-left: 45px;
}
#footer .content li a:hover {
	color: #fff;
}

#footer .content li.contact a {
	background: url('/img/icons/phone.png') no-repeat 10px center;
}
#footer .content li.about a {
	background: url('/img/icons/about.png') no-repeat 10px center;
}
#footer .content li.blog a {
	background: url('/img/icons/blog.png') no-repeat 10px center;
}
#footer .content li.portfolio a {
	background: url('/img/icons/portfolio.png') no-repeat 10px center;
}
#footer .content li:hover {
	background: -moz-linear-gradient(top, #333333, #444444);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#444444));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#444444);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#333333, endColorstr=#444444)";
}
#footer .content li.contact a:hover {
	background-image: url('/img/icons/phone.png') no-repeat 10px center;
}
#footer .content li.about a:hover {
	background: url('/img/icons/about.png') no-repeat 10px center;
}
#footer .content li.blog a:hover {
	background: url('/img/icons/blog.png') no-repeat 10px center;
}
#footer .content li.portfolio a:hover {
	background: url('/img/icons/portfolio.png') no-repeat 10px center;
}
#footer .footerline {
	font: normal 11px/15px Tahoma;
	color: #aaa;
	padding: 10px;
	text-align: center;
	clear: both;
}
#footer .footerline a {
	color: #aaa;
}
#footer .footerline a:hover {
	color: #fff;
}
/* this makes it possible to add next button beside scrollable */
.piscrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../../img/scrollable/arrows/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:320px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down		{ 
	background:url(../img/scrollable/arrow/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 50px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

@charset "utf-8";
/* CSS Document */

.largeOverlay {
	z-index:40000;
	top:600px;
	left:-100px;
	display:none;
	/*background-color:#333;*/
	width:1382px;	
	height:900px;
	/*border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-image:url(../../img/overlay/transparent.png);
}

.contentTable {
	table-layout:fixed;
	position:relative;
	top:30px;
	left:-70px;
}

.largeOverlay a:link {color:rgba(255,255,255,1);}      
.largeOverlay a:visited {color:rgba(255,204,204,1);}  
.largeOverlay a:hover {color:rgba(255,255,204,1);} 

.largeOverlay .close {
	z-index:40000;
	background-image:url(../../img/icons/close.png);
	position:absolute;
	right:30px;
	top:15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.largeOverlay .content {
	position:relative;
	float:right;
	margin-right:200px;
}
.contentItem {
	position:relative;
	float:left;
	text-align:left;
	margin:5px;
}

.details {
	position:absolute;
	float:right;
	top:60px;
	right:60px;
	font-size:11px;
	color:#fff;
	width:200px;
	z-index:20000;
}

.details h3 {
	color:#aba;
	font-size:15px;
	margin:0 0 -10px 0;
}

.largeOverlay .scrollable {
	position:relative;
	overflow:hidden;
	width: 970px;
	height:670px;
}@charset "utf-8";
/* CSS Document */



.simple_overlay {
	display:none;
	margin: 0px auto;
	z-index:60000;
	background-color:#333;
	width:500px;
	min-height:200px;
	border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

.simple_overlay .close {
	background-image:url(../../img/icons/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.simple_overlay .content {
	position:relative;
	float:right;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:200px;
}

.simple_overlay .details {
	position:relative;
	float:right;
	top:10px;
	right:10px;
	font-size:11px;
	color:#fff;
	width:150px;
	
}@charset "utf-8";
/* CSS Document */

.scrollable {
	position:relative;
	overflow:hidden;
	width: 970px;
	height:90px;
}

.piscrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	min-width: 970px;
	min-height:670px;
	/* custom decorations */
	border:1px solid #ccc;
	background:url(../../img/scrollable/arrows/h300.png) repeat-x;
}

.piscrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.piscrollable .items div {
	float:left;
	min-width:970px;
	min-height:670px;
}



/* active item */
.piscrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

.items div {
	float:left;
}

.navi {
	z-index:10000;
	position: relative;
	margin: 0 auto;
	text-align: center;
	top: 5px;
	min-width: 36px;
	height: 8px;
	/*border: 1px dotted #00ff00;*/
	cursor: pointer;
}

.navi a {
	z-index:10000;
	display: block;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	background: url(../../img/icons/navigator.png) 0 -24px no-repeat;
	cursor: pointer;
}

/* adjust the background image position on each tab */
/*.navi a { background-position: 0 0; }*/

/* mouseover state */
.navi a:hover { background-position: 0 -8px; }

/* mousedown state */
.navi a:active { background-position: 0 -16px; }

/*current state */
.navi a.active {
	cursor: default;
	background-position: 0 0;
}

.prevnext {
	position:relative;
	top:0px;
	width: 970px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}

.centered {
	float:right;
	position:relative;
	left:-50%;
	text-align:left;
	
}

.buttons {
	position:relative;
	left:50%;
}

.prevnext a {
	float:left;
	text-align:center;
	margin:0 auto;
	color: #666666;
	text-decoration: none;
}

.prevnext a:hover {
	color: #ff0000;
}

.prevnext a.disabled {
	visibility: hidden;
}

.clear {
	clear:both;
}@charset "utf-8";
/* CSS Document */

/*sidebar*/
.sidebar {
	
	position:absolute;
	top: 0px;
	right:9px;
	bottom:20px;
	width:210px;
	padding-bottom: -163px;
	overflow:hidden;
	z-index:10;
	border-left-width:0.5px;
	border-left:solid;
	border-right:solid;
	border-color:#999999;
	background-color:#333333;
	opacity:0.4;
	filter:alpha(opacity=40);
	background-color: rgba(51,51,51,0.4);
	
}

.sidebar a {
	
	text-decoration:none;
}

.sidebar #awards {
	height: 250px;
}

.sidebar #projectMap {
	height: 250px;
}

.sidebarSub {
	position:relative;
	top:150px;	
	min-height:60px;
	margin-top:4px;
	margin-left:4px;
	margin-right:4px;
	background-color:#FFFFFF;
	
	padding:3px;
	
	border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #FFF;
	-webkit-box-shadow: 0 0 90px #FFF;
}﻿.collapsibleContainer
{
	
}

.collapsibleContainerTitle .text{
	margin-left: 5px;
}

.collapsibleContainerTitle
{
    cursor:pointer;
	position: relative;
	
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#979797;
	
}

.collapsibleContainerTitle div{
    /*min-height: 17px;*/
}

.collapsibleContainerContent{
	position:relative;
	
}

.collapsibleContainerContent2{
	position:relative;
	
}@charset "utf-8";
/* CSS Document */

.portfolioRow {
	height:90px;
	width:100%;
	position:relative;
	top:5px
	margin-bottom:-10px;
	margin-top:0px;
	margin-left:15px;
}

.resume .portfolioItem {
	cursor:pointer;
	border-style:solid;
	border-width:thin; 
	border-color:lightgrey; 
	height:auto; 
	padding:8px; 
	margin:0 5px 0 5px;
	background-color:lightgrey;
	float:left;
	width:150px;
	z-depth:0;
}

.news .portfolioItem {
	float:left;
	padding-right:5px;
	padding-left:5px;
	width:65px;
	height:45px;
	z-depth:0;
}

.news .portfolioItem img {
	width:65px;
	height:45px;
	z-depth:1;	
}

.portfolioItem img exampleimg {
	width:150px;
	height:100px;
	z-depth:1;	
}

.portfolioItem h1 {
	position: absolute;
	text-align:center;
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#979797;
	z-depth:2;	
}

.body {
	padding:0px 0px;
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* container for slides */
.images {
	repeat-x;
	position:relative;	
	height:117px;
	width:970px;
	float:left;	
	margin:0px;
	cursor:pointer;	
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	margin:0px;
	height:256px;
	font-size:12px;
}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}

/* tabs (those little circles below slides) */
.slidetabs {
	clear:both;
	margin-left:530px;
	z-index:50000;
}

/* single tab */
.slidetabs a {
	position:relative;
	width:8px;
	height:8px;
	float:left;
	top:30px;
	left:-100px;
	margin:3px;
	background:url(../../img/icons/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;	
	z-index:10000;	
}

/* mouseover state */
.slidetabs a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.slidetabs a.current {
	background-position:0 -16px;     
} 	


/* prev and next buttons */
.forward, .backward {
	float:left;
	margin-top:140px;
	background:#fff url(/tools/img/scrollable/arrow/hori_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;	
}

/* next */
.forward 				{ background-position: 0 -30px; clear:right; }
.forward:hover 		{ background-position:-30px -30px; }
.forward:active 	 	{ background-position:-60px -30px; } 


/* prev */
.backward:hover  		{ background-position:-30px 0; }
.backward:active  	{ background-position:-60px 0; }

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}
